In [1]:
import pandas as pd 
import json

## DF GOOGLE  Alabama

In [2]:
data = []
with open('alabama/1.json') as json_file:
    for line in json_file:
        data.append(json.loads(line))

In [3]:
df_alabama = pd.DataFrame(data)

In [4]:
df_alabama

,user_id,name,time,rating,text,pics,resp,gmap_id
0,114043824230907811356,Kanisha Mixon,1597168272670,5,Very Personable staff! Beautiful and clean env...,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
1,116009008420407071921,Brandie Hodges,1609899039594,5,Best clothing intown,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
2,106239928178034609776,Sharon King,1547235290843,4,None,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
3,104970056115801744726,Veronica Pierce,1517709403534,5,None,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
4,110587471700525107383,Whitney Waldon Collier,1535245718492,5,None,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
...,...,...,...,...,...,...,...,...
149995,116508195431461017782,Lee Lee,1601666489107,5,Just a good old hardware friendly people,None,None,0x889a89fd92d55353:0x78e335f5e98e75b2
149996,108020832340640374305,Hayward Salter,1621994613217,5,Good people,None,None,0x889a89fd92d55353:0x78e335f5e98e75b2
149997,105464581418690693091,James McBride,1601863228986,4,Good for locals needing supplies to fix damage...,None,None,0x889a89fd92d55353:0x78e335f5e98e75b2
149998,111886905477779410743,Karen Sullivan,1593013285677,1,Very rude female employees at the cash counter...,None,None,0x889a89fd92d55353:0x78e335f5e98e75b2
149999,110992000623002616861,Scott Reid,1573317350293,4,Good hardware and lumber store. Prices on lumb...,None,None,0x889a89fd92d55353:0x78e335f5e98e75b2

In [5]:
df_alabama.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  object
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     82943 non-null   object
 5   pics     3087 non-null    object
 6   resp     20893 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: int64(2), object(6)
memory usage: 9.2+ MB

*  se puede ver datos nulos en resp. que es cuando hay una respuesta al comentario, en pics (foto), y en text que es el comentario como tal

* Parece logico el faltante

##  genero una funcion para hacerlo de manera mas eficiente

In [6]:
   

def procesar_archivos_json(archivos):
    resultados = []
    for archivo in archivos:
        with open(archivo) as json_file:
            for line in json_file:
                data = json.loads(line)
                resultados.append(data)
    
    df = pd.DataFrame(resultados)
    return df

* creo la lista de archivos a procesar,  mediante un for

In [13]:
lista_archivos = []
for i in range(12):
    lista_archivos.append(f'alabama/{i+1}.json')

In [14]:
lista_archivos

['alabama/1.json',
 'alabama/2.json',
 'alabama/3.json',
 'alabama/4.json',
 'alabama/5.json',
 'alabama/6.json',
 'alabama/7.json',
 'alabama/8.json',
 'alabama/9.json',
 'alabama/10.json',
 'alabama/11.json',
 'alabama/12.json']

### genero el dataframe completo de alabama

In [15]:
df_alabama_complete= procesar_archivos_json(lista_archivos)

In [16]:
df_alabama_complete

,user_id,name,time,rating,text,pics,resp,gmap_id
0,114043824230907811356,Kanisha Mixon,1597168272670,5,Very Personable staff! Beautiful and clean env...,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
1,116009008420407071921,Brandie Hodges,1609899039594,5,Best clothing intown,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
2,106239928178034609776,Sharon King,1547235290843,4,None,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
3,104970056115801744726,Veronica Pierce,1517709403534,5,None,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
4,110587471700525107383,Whitney Waldon Collier,1535245718492,5,None,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
...,...,...,...,...,...,...,...,...
1799995,105708099907583532184,Jabari Dunson,1512932849766,5,None,None,None,0x88891c3ff94be8c9:0x79ba76e0bfb5d028
1799996,100920680788551273506,Derrick Watts,1575373589344,4,None,None,None,0x88891c3ff94be8c9:0x79ba76e0bfb5d028
1799997,109656828678763102172,Tomika Megginson,1533439311510,1,None,None,None,0x88891c3ff94be8c9:0x79ba76e0bfb5d028
1799998,104145285205846066644,Tomeka Jackson,1504693628554,4,None,None,None,0x88891c3ff94be8c9:0x79ba76e0bfb5d028
1799999,113469032558484014373,LaMarrio Thomas,1526176519939,3,None,None,None,0x88891c3ff94be8c9:0x79ba76e0bfb5d028

In [19]:
df_alabama_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800000 entries, 0 to 1799999
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: int64(2), object(6)
memory usage: 109.9+ MB

In [21]:
df_alabama_complete.isnull().sum()

user_id          0
name             0
time             0
rating           0
text        833399
pics       1763830
resp       1592717
gmap_id          0
dtype: int64

### la data nula es perfectamente comprensible

-  1 hay que considerar que solo el 50% aprox. de las calificaciones tienen comentarios

* 2 si fuera nesararia hay que desanidar los datos de repuestas a eso comentarios  (  los cuales se dan en muy pocos casos )